<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors - Result</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h3>The players have trusted to fate and picked their move...</h3>
    <h1>Congratulations!!! The winner is <%= @winner %>!</h1>
    <p>Well done winner, for picking a random move with a 50% success rate</p>
    <h3>Confused by all this? Or want to play again because you're having so much fun? Check out the rules <a href="/welcome">here</a>!</h3>
  </body>
</html>
