<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors - The Rules</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Let's play Rock, Paper, Scissors</h1>
    <h3>The game of no skill and limited interest</h3>
    <p>
      Each game of rock, paper, scissors has two players. Each player must pick one of either rock, paper or scissors.
        <br>
        <br>
      To play, you can edit the url of this page as follows:
    </p>
    <ol>
      <li>At first, the url should say <em>"localhost:4567/welcome"</em>.</li>
      <li>Delete the "welcome" part and replace it with "play".</li>
      <li>Then put a slash "/" followed by player 1's move.</li>
      <li>Then put another slash "/", followed by player 2's move!</li>
      <li>Then press enter (load the page) to see the result!</li>
    </ol>
    </p>
      For example, put <em>"localhost:4567/play/rock/scissors"</em>. Try it, see who wins!
    </p>
  </body>
</html>
